.swiper{
    align-self: center;
    width: 80%;
    position:static;
}
.swiper-container{
    width: 100%;
    position: relative;
}
.swiper-wrapper{
    margin-bottom: 3rem;
}

.swiper-button-next { 
    top: 40%;
    right: -1px;
    color: white 
}
.swiper-button-next::after{
    font-size: 1.5rem;
}
.swiper-button-prev { 
    top: 40%;
    left: -1px;
    color: white 
}
.swiper-button-prev::after{
    font-size: 1.5rem;
}